<div class="main-content d-flex justify-content-around p-0 m-0">
  <app-sidebar class="content-left" [sidebarItems]="menu" [controller]="controller" [currActive]="currActive" [ngClass]="isSidebarActive ? 'visible' : ''"></app-sidebar>
  <div class="content-right p-0 m-0 flex-grow-1 d-flex flex-column" [ngClass]="isSidebarActive ? 'shrunk' : ''">
    <app-navbar [menu]="menu" [controller]="controller" [currActive]="currActive"></app-navbar>
    <div class="content-holder row m-0 flex-grow-1">
      <div class="main-content col-sm-12 col-xl-9 pt-3">
        <app-loading></app-loading>
        <router-outlet (activate)="onActivate($event)"></router-outlet>
        <div class="bottom-padder"></div>
      </div>
    </div>
  </div>

  <app-player></app-player>
</div>