@import "../../../styles.scss";

.content-holder {
  background-color: $background-color-darker;
}

.main-content {
  background-color: $background-color;
}

@media only screen and (max-width: 1024px) {
  .sider {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .main-content {
    overflow-x: hidden;
    flex-wrap: nowrap;
    align-items: stretch;
    padding-bottom: 48px;
  }

  .content-left, .content-right {
    box-sizing: border-box;
  }

  .content-left {
    position: relative;
    margin-left: -250px;
    transition: margin .4s;

    &.visible {
      margin-left: 250px;
    }
  }

  .content-right {
    min-width: 100%;
    flex-grow: 0 !important;
  }

}