<div class="header">
  <h1>{{homeJSON.header.title}}</h1>
  <div class="col-sm-12 col-md-8 col-xl-8 my-3">
    <img src="{{logoImage}}" class="img-fluid">
  </div>
  <p class="my-4">{{homeJSON.header.intro_msg}}</p>
</div>

<hr/>

<div class="content">
  <div class="section" *ngFor="let section of homeJSON.sections">
    <h3>{{section.title}}</h3>
    <div [innerHTML]="section.content">
    </div>
  </div>

  <hr/>

  <div class="section">
    <h3>{{homeJSON.featured_photos.title}}</h3>
    <splide *ngIf="homeJSON.featured_photos.images" [options]="{ type: 'loop', perPage: 1, keyboard: false, width: '100vw', autoplay: 'true', interval: '4000'}">
      <splide-slide *ngFor="let image of homeJSON.featured_photos.images">
          <img [src]="image.link" alt="" />
      </splide-slide>
   </splide>
  </div>
</div>

<div class="m-5"></div>